@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Bangers&display=swap');

* {
  font-family: 'Afacad Flux', sans-serif;
  font-weight: 300;
}

span {
  font-family: 'Afacad Flux', sans-serif !important;
  font-weight: 300 !important;
}

.logo {
  font-family: 'Bangers', cursive !important;
}

